# Problem 19: Counting Sundays



You are given the following information, but you may prefer to do some research for yourself.

    1 Jan 1900 was a Monday.
    Thirty days has September,
    April, June and November.
    All the rest have thirty-one,
    Saving February alone,
    Which has twenty-eight, rain or shine.
    And on leap years, twenty-nine.
    A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [1]:
from datetime import datetime as dt
from datetime import timedelta as tDel

In [2]:
dt.now().day

datetime.datetime(2021, 12, 4, 20, 28, 14, 313915)

In [3]:
dt.now().day

4

In [5]:
dt.now().weekday() == 6

False

In [10]:
dt(1900, 1, 7).weekday()

6

In [12]:
(dt(1900, 1, 7) + tDel(days=7)).weekday()

6

In [24]:
curDate = dt(1900, 1, 7)
lastDate = dt(2001, 1, 1)
startDate = dt(1901, 1, 1)
nDays = 0
while True:
    
    if (curDate.day == 1) and (curDate >= startDate):
        print(curDate.strftime('%Y-%m-%d | %A'))
        nDays += 1
    curDate += tDel(days=7)
    
    if curDate >= lastDate:
        break

1901-09-01 | Sunday
1901-12-01 | Sunday
1902-06-01 | Sunday
1903-02-01 | Sunday
1903-03-01 | Sunday
1903-11-01 | Sunday
1904-05-01 | Sunday
1905-01-01 | Sunday
1905-10-01 | Sunday
1906-04-01 | Sunday
1906-07-01 | Sunday
1907-09-01 | Sunday
1907-12-01 | Sunday
1908-03-01 | Sunday
1908-11-01 | Sunday
1909-08-01 | Sunday
1910-05-01 | Sunday
1911-01-01 | Sunday
1911-10-01 | Sunday
1912-09-01 | Sunday
1912-12-01 | Sunday
1913-06-01 | Sunday
1914-02-01 | Sunday
1914-03-01 | Sunday
1914-11-01 | Sunday
1915-08-01 | Sunday
1916-10-01 | Sunday
1917-04-01 | Sunday
1917-07-01 | Sunday
1918-09-01 | Sunday
1918-12-01 | Sunday
1919-06-01 | Sunday
1920-02-01 | Sunday
1920-08-01 | Sunday
1921-05-01 | Sunday
1922-01-01 | Sunday
1922-10-01 | Sunday
1923-04-01 | Sunday
1923-07-01 | Sunday
1924-06-01 | Sunday
1925-02-01 | Sunday
1925-03-01 | Sunday
1925-11-01 | Sunday
1926-08-01 | Sunday
1927-05-01 | Sunday
1928-01-01 | Sunday
1928-04-01 | Sunday
1928-07-01 | Sunday
1929-09-01 | Sunday
1929-12-01 | Sunday
1930-06-01 | Sunday
1931-02-01 | Sunday
1931-03-01 | Sunday
1931-11-01 | Sunday
1932-05-01 | Sunday
1933-01-01 | Sunday
1933-10-01 | Sunday
1934-04-01 | Sunday
1934-07-01 | Sunday
1935-09-01 | Sunday
1935-12-01 | Sunday
1936-03-01 | Sunday
1936-11-01 | Sunday
1937-08-01 | Sunday
1938-05-01 | Sunday
1939-01-01 | Sunday
1939-10-01 | Sunday
1940-09-01 | Sunday
1940-12-01 | Sunday
1941-06-01 | Sunday
1942-02-01 | Sunday
1942-03-01 | Sunday
1942-11-01 | Sunday
1943-08-01 | Sunday
1944-10-01 | Sunday
1945-04-01 | Sunday
1945-07-01 | Sunday
1946-09-01 | Sunday
1946-12-01 | Sunday
1947-06-01 | Sunday
1948-02-01 | Sunday
1948-08-01 | Sunday
1949-05-01 | Sunday
1950-01-01 | Sunday
1950-10-01 | Sunday
1951-04-01 | Sunday
1951-07-01 | Sunday
1952-06-01 | Sunday
1953-02-01 | Sunday
1953-03-01 | Sunday
1953-11-01 | Sunday
1954-08-01 | Sunday
1955-05-01 | Sunday
1956-01-01 | Sunday
1956-04-01 | Sunday
1956-07-01 | Sunday
1957-09-01 | Sunday
1957-12-01 | Sunday
1958-06-01 | Sunday
1959-02-01 | Sunday
1959-03-01 | Sunday
1959-11-01 | Sunday
1960-05-01 | Sunday
1961-01-01 | Sunday
1961-10-01 | Sunday
1962-04-01 | Sunday
1962-07-01 | Sunday
1963-09-01 | Sunday
1963-12-01 | Sunday
1964-03-01 | Sunday
1964-11-01 | Sunday
1965-08-01 | Sunday
1966-05-01 | Sunday
1967-01-01 | Sunday
1967-10-01 | Sunday
1968-09-01 | Sunday
1968-12-01 | Sunday
1969-06-01 | Sunday
1970-02-01 | Sunday
1970-03-01 | Sunday
1970-11-01 | Sunday
1971-08-01 | Sunday
1972-10-01 | Sunday
1973-04-01 | Sunday
1973-07-01 | Sunday
1974-09-01 | Sunday
1974-12-01 | Sunday
1975-06-01 | Sunday
1976-02-01 | Sunday
1976-08-01 | Sunday
1977-05-01 | Sunday
1978-01-01 | Sunday
1978-10-01 | Sunday
1979-04-01 | Sunday
1979-07-01 | Sunday
1980-06-01 | Sunday
1981-02-01 | Sunday
1981-03-01 | Sunday
1981-11-01 | Sunday
1982-08-01 | Sunday
1983-05-01 | Sunday
1984-01-01 | Sunday
1984-04-01 | Sunday
1984-07-01 | Sunday
1985-09-01 | Sunday
1985-12-01 | Sunday
1986-06-01 | Sunday
1987-02-01 | Sunday
1987-03-01 | Sunday
1987-11-01 | Sunday
1988-05-01 | Sunday
1989-01-01 | Sunday
1989-10-01 | Sunday
1990-04-01 | Sunday
1990-07-01 | Sunday
1991-09-01 | Sunday
1991-12-01 | Sunday
1992-03-01 | Sunday
1992-11-01 | Sunday
1993-08-01 | Sunday
1994-05-01 | Sunday
1995-01-01 | Sunday
1995-10-01 | Sunday
1996-09-01 | Sunday
1996-12-01 | Sunday
1997-06-01 | Sunday
1998-02-01 | Sunday
1998-03-01 | Sunday
1998-11-01 | Sunday
1999-08-01 | Sunday
2000-10-01 | Sunday

In [25]:
nDays

171

In [23]:
dt(1900,4, 1).strftime('%A')

'Sunday'

# Problem 20: Factorial digit sum



For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800,
and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.

Find the sum of the digits in the number 100!

In [26]:
import math

In [29]:
sum(map(int, str(math.factorial( 100 ))))

648